.footer {
    display: flex;
    flex-basis: 19.44%;

    background-color: rgb(255, 255, 255);
    background-image: url("../../img/bottom.png");
    background-size: cover;
    background-position: center;

    border: 1px solid rgb(62, 71, 105);
    overflow: hidden;
}

.footer-sign {
    display: flex;
    align-items: center;

    width: 13vw;
    margin-right: 2.8vw;
    margin-left: auto;

    color: rgb(255, 255, 255);
    text-align: right;
}
