.aside-left {
    float: left;
    width: 28.5%;
    height: 100%;
    box-sizing: border-box;

    border: 1px solid rgb(62, 71, 105);
}

.aside-sub-left {
    overflow: auto;
    height: 85%;
    padding-top: 9.5%;
}

.aside-right {
    float: right;
    width: 22.1%;
    box-sizing: border-box;

    height: 100%;
    border: 1px solid rgb(62, 71, 105);
}

.aside-sub-right {
    overflow: auto;
    height: 85%;
    padding-top: 10.5%;
}

.menu-text {
    font-family: Garamond;
    font-size: 19px;
    align-items: center;
    padding-left: 16.66%;
    padding-right: 16.66%;
}
